/*main container*/
div.domtab {margin: 0; padding: 0;}
/*tabs*/
ul.domtabs 
{
    float: left;
    margin: 0; 
    padding: 0;
}
ul.domtabs li 
{
    background: #999;
    float: left;
    margin: 0 2px 0 0;
    padding: 2px 3px;
    text-align: center;
}
ul.domtabs li:hover, ul.domtabs li.active 
{
    background: #CCC;
}
ul.domtabs li a 
{
    color: #333; 
    font-weight: bold; 
    text-decoration: none;
}
/*tabs containers*/
div.domtab div.tab-container 
{
    border: 3px solid #ccc;
    clear: both;
    display: block;
    padding: 10px;
}